.example-tree{
    color: #cfcfcf;
}

.example-tree .example-file{
    cursor: pointer;
}
.example-tree .example-directory{
    cursor: pointer;
    margin-left: 10px;
}

.example-tree .example-file:hover{
    color: #fff;
    font-weight: bold;
}

.example-group{
    list-style-type: none;
}